body {
    padding: 10px 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    padding-top: 20%;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calc {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    background-color: #e2e0eb;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    box-sizing: border-box;
}
button {
    width: 100%;
    height: 50px;
    font-size: 30px;
    color: black;
    border: 0px;
    border-radius: 8px;
    cursor: pointer;
}
.btn {
    font-size: 20px;
    color: rgb(112, 35, 128);
    background-color: rgb(238, 194, 214);
}
.operator {
    background-color: rgb(168, 174, 207);
}
.equal {
    background-color: blue;
    color: #e2e0eb;
}
.result {
    grid-column: span 4; 
    width: 100%;
}
.result input {
    width: 100%;
    font-size: 35px;
    text-align: right;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #ccc;
}

@media(max-width: 768px) {
    .main {
        max-width: 768px;
    }
}